.form__container_type_buttons {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-auto-rows: 60px;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .form__container_type_buttons {
    grid-template-columns: repeat(4, 96px);
    grid-auto-rows: 96px;
  }
}

@media screen and (max-width: 650px) {
  .form__container_type_buttons {
    grid-template-columns: repeat(4, 48px);
    grid-auto-rows: 48px;
  }
}