.form__help {
  font-size: 20px;
  line-height: 1.2;
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .form__help {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
}